<!--
Author: 黄宇辉
Date: 6/28/2019
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div title="欢迎页面" style="padding: 20px; overflow: hidden; color:#777;font: bold 12px 'Lucida Sans Unicode';"
     data-options="iconCls:'icon-heart',plain:true">
    <p style="font-size: 30px; line-height: 30px; height: 30px;">欢迎使用好友备忘录哟 (っ•̀ω•́)っ✎⁾⁾ ~</p>
    <p>开发人员: 黄宇辉</p>
    <p>联系方式-Email: Gentleman_0109@outlook.com</p>
    <p>联系方式-QQ: 3083968068</p>
    <p>开发周期: 2019/6/28 —— 2019/6/29</p>
    <hr/>
    <p align="center">项目开发环境介绍</p>
    <p>操作系统: Windows 10 Pro</p>
    <p>开发工具: Intellij IDEA 2019.1.3(UItimate Edition)</p>
    <p>Java版本: 11.0.2</p>
    <p>服务器: Tomcat 9.0</p>
    <p>数据库: Server version: 8.0.11 MySQL Community Server - GPL</p>
    <p>采用技术: Thymeleaf+jQuery+Ajax+EasyUI+Spring Boot+MyBatis+MySQL+Maven</p>
</div>
</body>
</html>